<!doctype html>
<html>
  <div class="flex-wrapper">
     <head>
       <!-- <style>
         body {
           background-image: url("https://i.imgur.com/B2xJARq.png");
         }
       </style> -->
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="/assets/css/styles.css">
  </head>
  <div class="container">
  <body>
    {% include navigation.html %}
    <div class="content"> {{ content }} </div>
  </body>
</div>
<div class="footer">
  <footer>
    {% include footer.html %}
  </footer>
</div>
</div>
</html>